.aside-news {
	background-color: rgb(var(--clr-very-dark-blue));
	padding-top: 30px;
	padding-inline: 25px;
}

.aside-news__title {
	color: rgb(var(--clr-secondary));
}

.aside-news__item {
	list-style: none;
	padding: 30px 0;
}

.aside-news__item:not(:last-child) {
	border-bottom: 1px solid rgb(var(--clr-grayish-blue));
}

.aside-news__item-title {
	color: rgb(var(--clr-off-gray));
}

.aside-news__item-content {
	color: rgb(var(--clr-grayish-blue));
}

@media (min-width: 456px) {
	.aside-news {
		min-width: 400px;
	}
}
